@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --color_white: #FFFFFF;
    --color_50: #fffbeb;
    --color_100: #fff5c6;
    --color_200: #ffe988;
    --color_300: #ffd747;
    --color_400: #ffc520;
    --color_500: #f9a307;
    --color_600: #dd7b02;
    --color_700: #b75606;
    --color_800: #94410c;
    --color_900: #7a370d;
    --color_950: #461b02;

    --normal_input_border_radius: 6px;

    --text_poetsen: "Poetsen One", sans-serif;
    --text-libre-baskerville: "Libre Baskerville", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #343a40;
}

.form-label {
    font-weight: bold;
    color: #495057;
}

.form-control, .form-select {
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-control:focus, .form-select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}